includes:
	- %rootDir%/../phpstan-deprecation-rules/rules.neon
	- %rootDir%/../phpstan-nette/extension.neon
	- %rootDir%/../phpstan-nette/rules.neon
	- %rootDir%/../phpstan-strict-rules/rules.neon

parameters:
	level: max
	paths:
		- src
