application:
	mapping:
		*: Tests\App\Presenters\*Presenter

services:
	fake.translator:
		class: Tests\App\Service\FakeTranslator

	base.presenter:
		class: Tests\App\Presenters\BasePresenter

	routing.router: Tests\App\Router\Router::createRouter

	- AlesWita\FormRenderer\Factory(@Nette\Localization\ITranslator)
