application:
	mapping:
		*: App\Presenters\*Presenter

services:
	fake.translator:
		class: App\Service\FakeTranslator

	base.presenter:
		class: App\Presenters\BasePresenter

	routing.router: App\Router\Router::createRouter

	- AlesWita\FormRenderer\Factory(@Nette\Localization\ITranslator)
